.popular-movie {
    width: 100%;
    border-radius: 10px;
}

/* Watch offline css */
.text-container-right {
    padding-right: 20px;
}

.text-container-right p {
    padding-top: 16px;
}

@media screen and (max-width: 576px) {
    .video-section {
        padding: 0 16px;
    }

    .popular-movie-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .popular-movie {
        width: 100%;
    }
}

/* watch offline media query */
@media screen and (max-width: 576px) {

    .text-container-right {
        padding: 16px;
    }

    .text-container-right p {
        padding-top: 16px;
        padding-bottom: 20px;
    }
}