.video-container-II {
    padding: 0 5rem;
}

.video-container-2-m {
    padding: 0 5rem;
}


@media screen and (max-width: 576px) {
    .video-container-II {
        padding: 0 0 0 1.8rem;
    }

    .video-div {
        margin-right: 0;
        padding-right: 10px;
    }
}