.video-container-II {
    padding: 0 5rem;
}

.video-container-2-m {
    padding: 0 5rem;
}


.zoom-div-2 {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);

}

.zoom-div-2:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
    --tw-translate-y: -1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}


@media screen and (max-width: 576px) {
    .video-container-II {
        padding: 0 0 0 1.8rem;
    }

    .video-div {
        margin-right: 0;
        padding-right: 10px;
    }
}