.header-scrolling {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0, 0, 0, 0.596);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    border-bottom: 1px solid #222;
}

.custom-border {
    border: 2px solid rgba(255, 255, 255, 0.726);
    border-radius: 50%;
}

.custom-border-II {
    border: 1px solid #222;
}

.search-input {
    background-color: #222;
}

.search-icon {
    z-index: 555;
    color: rgb(212, 24, 33);
}