.post::before,
.post-2::before,
.post-3::before,
.post-4::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 20px;
    width: 0;
    height: 0;
    /* height: 20px; */
    border-radius: 50%;
    transition: 0.6s linear;
    /* background-color: #e6020c; */
    background-color: #d41821;
    /* background-color: #e84a5f; */
    /*  bg-gradient-to-r from-purple-500 to-pink-500 */
}

.post,
.post-2,
.post-3,
.post-4 {
    transition: 600ms linear;
    cursor: pointer;
}

.post:hover::before,
.post-2:hover::before,
.post-3:hover::before,
.post-4:hover::before {
    width: 310%;
    height: 310%;
}

.post-title,
.post-title2,
.post-title3,
.post-title4,
.post-des,
.post-des2,
.post-des3,
.post-des4,
.subscribe-btn {
    position: relative;
}

.subscribe-btn {
    padding: 5px;
    border: 2px solid #e9499e;
    border-radius: 20px;
    color: white;
}

.post:hover .subscribe-btn {
    border: 1px solid #fff;
    color: white;
}

.post:hover .post-des {
    color: white;
}

.post:hover .post-title {
    color: white;
}

.post-des {
    color: #181818;
}

.post-2:hover .post-des2 {
    color: white;
}

.post-2:hover .post-title2 {
    color: white;
}

.post-des2 {
    color: #181818;
}

.post-3:hover .post-des3 {
    color: white;
}

.post-3:hover .post-title3 {
    color: white;
}

.post-des3 {
    color: #181818;
}

.post-4:hover .post-des4 {
    color: white;
}

.post-4:hover .post-title4 {
    color: white;
}

.post-des4 {
    color: #181818;
}