.bangla-movie-section {
    background-color: #212121;
    display: grid;
    grid-template-columns: 0.7fr 0.1fr 4fr;
}

.bangla-movie-menu-bar img {
    padding-top: 40px;
    width: 150px;
    margin: 0 18px;
}

.bangla-movie-menu-bar .bangla-movie-menu- {
    padding-top: 64px;
    padding-left: 24px;
}

.divider-line {
    display: inline-block;
    height: 1000px;
    width: 5px;
    background-color: black;
}

.bangla-movie-container {
    padding-top: 40px;
    padding-right: 50px;
}

.search-input {
    display: flex;
    justify-content: flex-end;
}

.search-input input {
    width: 50%;
    padding: 10px 15px;
    border-radius: 10px;
}

.search-video {
    padding-left: 24px;
    margin-top: 50px;
}

.search-video img {
    height: 310px;
    width: 800px;
    border-radius: 20px;
    box-shadow: rgba(196, 112, 4, 0.50) -3px -3px 4px, rgba(196, 112, 4, 0.50) 0px 3px 10px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.movie-list img {
    height: 200px;
    width: 150px;
    border-radius: 15px;
}

.search-video-details {
    padding-left: 16px;
    padding-top: 40px;
}

.search-items {
    display: flex;
}