.loginRoot {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.loginBox {
    position: relative;
    width: 300px;
}

.loginBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    background: #000000;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.loginBox span {
    position: absolute;
    left: 0%;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.loginBox input:valid~span,
.loginBox input:focus~span {
    /* color: #00dfc4; */
    color: #ef4444;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background: #000000;
    /* border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4; */
    border-left: 1px solid #ef4444;
    border-right: 1px solid #ef4444;
    letter-spacing: 0.20em;
}

.loginBox input:valid,
.loginBox input:focus {
    /* border: 1px solid #00dfc4; */
    border: 1px solid #ef4444;
}

/* .....................login button.................. */

.button_3 {
    width: 200px;
    height: 50px;
    /* border: 1px solid #00dfc4; */
    border: 1px solid #ef4444;
    color: white;
    background-color: #000000;
    border-radius: 4px;
    /* box-shadow: inset 0 0 0 0 #00dfc4; */
    box-shadow: inset 0 0 0 0 #ef4444;
    transition: ease-out 0.5s;
    font-size: 1em;
    font-weight: 500;
    outline: none;
}

.button_3:hover {
    /* box-shadow: inset 300px 0 0 0 #00dfc4; */
    box-shadow: inset 300px 0 0 0 #ef4444;
    cursor: pointer;
    color: #000000;
}

/* ..................social-button.................. */

.social-button {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}