.wraper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    overflow: hidden;
}

.line- {
    height: 1px;
    background-color: #222;
}

.zoom-div-I {
    transition: .4s;
}

.zoom-div-I:hover {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);

}

.zoom-div-I img {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 30%);
}

.tv-chaneel-img {
    width: 85%;
    border-radius: 10px;
}

/* watchTv css */
.text-container {
    padding: 50px 80px 0px 80px;
}

.text-container-left {
    padding-right: 50px;
}

.text-container-left p {
    padding-top: 16px;
}

/* video */
.our-story-card-animation-container {
    position: relative;
}

.tv-img {
    position: relative;
    z-index: 2;
}

.our-story-card-animation {
    width: 81.5%;
    left: 49.5%;
    position: absolute;
    top: 42%;
    transform: translate(-50%, -50%);
}

.our-story-card-video {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    /* position: absolute; */
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

/* slick customization */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    display: none;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev {
    left: -19.5px;
}

.slick-next {
    right: 15px;
}

.slick-prev::before {
    content: ' \276E';
}

.slick-next::before {
    content: ' \276F';
}

.slick-prev::before,
.slick-next::before {
    font-size: 24px;
    color: rgb(212, 24, 33);
    padding: 12px 18px;
    border-radius: 50%;
    opacity: 100%;
    background-color: rgba(2, 2, 2, .7);
    border: 1px solid rgb(196, 0, 0);
}

.slick-prev:hover::before,
.slick-next:hover::before {
    background-color: rgba(2, 2, 2, .8);
}

.slick-dots {
    display: none !important;
}


.fa-angle-double-down {
    display: none;
}

/* watchTv media query */
@media screen and (max-width: 576px) {

    .zoom-div-I {
        transition: none;
    }

    .zoom-div-I:hover {
        -ms-transform: scale(1.07);
        -webkit-transform: scale(1.07);
        transform: none;
    }

    .text-container {
        padding: 10px;
    }

    .text-container-left {
        padding: 16px;
    }

    .text-container-left p {
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .our-story-card-animation {
        top: 39%;
    }
}