*,
::before,
::after {
    box-sizing: border-box;
    border: none;
}

.zoom-div-I {
    transition: .4s;
}

.zoom-div-I:hover {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.tv-chaneel-img {
    width: 85%;
    border-radius: 10px;
}

/* watchTv css */
.text-container {
    padding: 50px 80px 0px 80px;
}

.text-container-left {
    padding-right: 50px;
}

.text-container-left p {
    padding-top: 16px;
}

/* video */
.our-story-card-animation-container {
    position: relative;
}

.tv-img {
    position: relative;
    z-index: 2;
}

.our-story-card-animation {
    width: 82%;
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translate(-50%, -50%);

}

.our-story-card-video {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    position: absolute;
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/* watchTv media query */
@media screen and (max-width: 576px) {

    .zoom-div-I {
        transition: none;
    }

    .zoom-div-I:hover {
        -ms-transform: scale(1.07);
        -webkit-transform: scale(1.07);
        transform: none;
    }

    .text-container {
        padding: 10px;
    }

    .text-container-left {
        padding: 16px;
    }

    .text-container-left p {
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .our-story-card-animation {
        top: 39%;
    }

    h1 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.1rem !important;
    }
}