.text-container-2 {
    padding: 80px 80px 80px 80px;
}


.d {
    background-color: brown;
    padding: 810px 80px 80px 80px;
}

.l {
    padding: 810px 80px 80px 80px;
    background-color: aliceblue;
}

@media screen and (max-width: 576px) {
    .text-container-2 {
        padding: 80px 16px 80px 16px;
    }
}