.popular-movie {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .video-section {
        padding: 0 16px;
    }

    .popular-movie-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .popular-movie {
        width: 100%;
    }
}