*,
::before,
::after {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-group {
    background-color: #1d1d1f;
    border-radius: 7px;
}

.search-field {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 7px;
    background-color: #00000000;
    transition: .3s ease;
    color: #6E6E73;

}

input.search-field {
    width: 450px;
}

.search-field:focus {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
}


.search-field::placeholder {
    color: #6E6E73;
}