.search-img {
    width: 100%;
    height: auto;
    padding: 2px;
    display: block;
    margin-bottom: 20px;
}

.search-container {
    column-count: 5;
    margin: 0 auto;
    -moz-column-gap: 16px;
    -webkit-column-gap: 16px;
    column-gap: 16px;
}

@media screen and (max-width: 700px) {
    .search-img {
        margin-bottom: 16px;


    }
}

@media screen and (max-width: 799px) {

    .search-container {
        column-count: 4;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .search-container {
        column-count: 3;
    }
}

@media screen and (max-width: 500px) {

    .search-img {
        margin-bottom: 5px;


    }

    .search-container {
        column-count: 2;
        -moz-column-gap: 5px;
        -webkit-column-gap: 5px;
        column-gap: 5px;
    }
}