.section-title {
    display: inline-block;
    /* font-size: 30px; */
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 700;
    /* color: #125d80; */
    text-align: center;
    margin: auto;
    margin-bottom: 2.5rem;
    position: relative;
}

.section-title::after {
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #22c55e;
    /* background-color: #125d80; */
    transform: scaleX(0.2);
    transform-origin: center;
    transition: transform 0.3s ease-in;
}

.section-title:hover::after {
    transform: scaleX(1);
}

/* @media screen and (max-width: 764px) {
    .section-title {
        font-size: 20px;
    }
}
@media screen and (min-width: 765px) {
    .section-title {
        font-size: 30px;
    }
} */